@import 'tailwindcss';
@theme {
  --font-roboto: 'Roboto', 'sans-serif';
  --font-poppins: 'Poppins', 'sans-serif';
  --color-primary: #0ba490;
  --color-hitam: #333333;
}
/* Untuk elemen body atau html */
::-webkit-scrollbar {
  width: 12px; /* atau height: 12px untuk horizontal */
}

::-webkit-scrollbar-track {
  background: #fff; /* warna track/background scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #007a55; /* warna hijau (misal Tailwind's green-500) */
  border-radius: 12px;
  border: 3px solid #fff; /* space antara thumb dan track */
}

button span {
  @apply transition duration-300 ease-in-out transform;
}

/* trigger hamburger line rotate*/
.hamburger-active > span:nth-child(1) {
  @apply rotate-35;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-35;
}

nav ul li a {
  @apply inline-block font-medium text-[15px] text-white w-full;
}
